dist: xenial
language: java
jdk:
  - openjdk8
bundler_args: --retry 1
# safelist
branches:
  only:
    - master
    - /((\d)|(\.))+((\/)tag)$/

# cache:
#   directories:
#     - '$HOME/.m2/repository'
deploy:
  provider: releases
  api_key:
    secure: BSUg1adCcO1vZJ1Jiyv/atERsQgphVUgj2WL5/cIJvXXBHp1DSNyQHPv8CyDkz7vH1cZbKe6ev+Bz2V/OyE9NMQVXRS5qwrUCw+ScGQHmMfuNkIPtpzGCuyNOUCwpGB28LzlTLmXgGGI/WhOokc3eCh7sJ6OftOkoRmGDD4x+2OyXy3Yd7rtyggzohfksmJ0oNqwA50f0vXXDC/KD51xOY3Ik4txi1sf65ccpJ2mR9nbDUphYbA6mzokX1L8cvuVyhV0N1Dd+SDpHE2eOXoretDQ1vK/i3K0fLoPpGsbagTSl75lgJi5LB4jQIxHAibLT+/St70WpB+7P2JqBq9ocaJnldLGgNmRb4osEnH/8lpurRkvonHY5kWgl3XBcolw/wd0c1fJmftJCyPwjJceSGg/+hG7516dqA2GEavgs8mMEMgxEcPH9Jp7fP9K72Ck7X28nyddBDH5AwI7lUY6PKTwmXBsH0hXupVWK7+d1nfMgK3hK6b2F1wE6TC82rLf7IwQUxIVcfSL/kuzzgJpaF0ccTTBNWHCf/At2hunTK1USPRj8AOteK99ype+6/0xhhiOFdNxWtu95IhFfpJPVeGtAVrh4fln2nA7erWmuD58QBGfoWFNJMhT8zshdg0AQpwAu5qcxgQBOddU8IO44g+eA5rosqH3AM7Yj3HvIXw=
  file_glob: true
  file: target/*-linux.tar.gz
  skip_cleanup: true
  on:
    repo: actiontech/OBsharding-D
    tags: true
    jdk: openjdk8
  draft: true
