[mysqld]
symbolic-links=0
server-id=3
log-bin=mysql-bin-1.log
enforce-gtid-consistency=ON
log-slave-updates=ON
gtid-mode=ON
transaction-write-set-extraction=XXHASH64
binlog-checksum=NONE
master-info-repository=TABLE
relay-log-info-repository=TABLE
plugin-load=group_replication.so
relay-log-recovery=ON
loose-group-replication-start-on-boot=OFF
loose-group-replication-group-name=aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
loose-group-replication-local-address=mgr-a-3:6606
loose-group-replication-group-seeds=mgr-a-1:6606,mgr-a-2:6606,mgr-a-3:6606
loose-group-replication-single-primary-mode=ON
loose-group-replication-enforce-update-everywhere-checks=OFF